  
/* custom styles */

html {
    margin: 0px; 
}
body {
    color: rgb(250, 250, 250);
    background-color: rgb(30, 30, 30);
}
H2 {
    margin-top: 30px;
    border-bottom: solid 2px rgb(250, 250, 250);
    padding-bottom: 10px;
}


/********** HEADER **********/
.app-header {
    display: block;
    height: 50px;
    width: 100%;
    color: rgb(100, 100, 255);
    margin-top: 30px;
}
    .app-header-name {
        float: left;
    }
    .app-header-about {
        float: right;
    }


/********** CONTAINER BODY **********/
.container-body {
    margin-top: 30px;
    margin-left: 40px;
    margin-right: 40px;
}

.app-title {
    text-align: center;
    margin-bottom: 40px;
}

/********** Tabs **********/
.tabs {}
    .top-tabs-class {
        width: 85%;
        font-size: 12px;;
    }
    .top-tabs-parent {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        background-color: rgb(30, 30, 30);
        padding: 0px 15px;
        border-bottom: 1px solid #d6d6d6;
    }
        .tab {
            color:#586069;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
            border-top: 3px solid transparent !important;
            border-left: 1px solid lightgrey !important;
            border-right: 1px solid lightgrey !important;
            border-bottom: 0px !important;
            background-color: rgb(80, 80, 80);
            padding: 12px !important;
            font-family: "system-ui";
            display: flex !important;
            align-items: center;
            justify-content: center;
        }
        .tab--selected {
            color: black;
            box-shadow: 1px 1px 0px white;
            border-left: 1px solid lightgrey !important;
            border-right: 1px solid lightgrey !important;
            border-top: 10px solid rgb(100, 100, 255) !important;
        }

/********** Tab Contents **********/
.tab-content {}

    /* global */
    .section {}
        .notebook {
            width: 100%;
            height: 600px;
            border: 0;
        }
        .notebook iframe {
            width: 100%;
            height: 600px;
            border: 0;
        }

    /* Contets */
    .toc-background {}
        .toc {}
            .toc-list a {
                color: inherit;
                text-decoration: none;
            }
        .background {}
        .workflow {}

/********** FOOTER **********/
.app-footer {
    display: block;
    position: fixed;
    height: 50px;
    width: 100%;
    color: rgb(100, 100, 255);
}